# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [1]:
def lesser_of_two_evens(a,b):
    if a%2 == 0 and b%2 == 0:
        if a < b:
            return a
        else:
            return b
    else:
        if a > b:
            return a
        else:
            return b

In [2]:
# Check
lesser_of_two_evens(2,4)

2

In [3]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [9]:
def animal_crackers(text):
    if text.split()[0][0].lower() == text.split()[1][0].lower():
        return True
    else:
        return False

In [10]:
# Check
animal_crackers('Levelheaded Llama')

True

In [11]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [16]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1 + n2 == 20:
        return True
    else:
        return False

In [17]:
# Check
makes_twenty(20,10)

True

In [18]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [25]:
def old_macdonald(name):
    return name[0].upper() + name[1:3] + name[3].upper() + name[4:]

In [26]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [57]:
def master_yoda(text):
    return " ".join(text.split()[::-1])

In [58]:
# Check
master_yoda('I am home')

'home am I'

In [59]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [77]:
def almost_there(n):
    if n > 110:
        n = abs(n-200)
    else:
        n = abs(n-100)
    
    if n <= 10:
        return True
    else:
        return False

In [81]:
# Check
almost_there(110)

True

In [79]:
# Check
almost_there(150)

False

In [80]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [155]:
def has_33(nums):
    ans = False
    for i in range(0,len(nums)):
        #print("i = " + str(i))
        #print(nums[i])
        if i+1 == len(nums):
            return ans
        elif nums[i] == 3 and nums[i+1] == 3:
            return True
        else:
            return False

In [156]:
# Check
has_33([1, 3, 3])

True

In [157]:
# Check
has_33([1, 3, 1, 3])

False

In [158]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [184]:
def paper_doll(text):
    new_text = ""
    for i in range(0, len(text)):
        new_text += text[i]*3
    return new_text

In [185]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [186]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [193]:
def blackjack(a,b,c):
    total = sum([a,b,c])
    if a ==11 or b == 11 or c == 11:
        total -= 10
    if total <= 21:
        return total
    else:
        return "BUST"

In [194]:
# Check
blackjack(5,6,7)

18

In [195]:
# Check
blackjack(9,9,9)

'BUST'

In [196]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [150]:
def summer_69(arr):
    total_list = []
    for i in range(0, len(arr)):
        if arr[-1] != 9:
            total_list.append(arr.pop())
            
        if arr[-1]
        
    
    print(total_list)

In [151]:
# Check
summer_69([1, 3, 5])

[5, 3, 1]

In [152]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

[]

In [153]:
# Check
summer_69([2, 1, 6, 9, 11])

[11]

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [159]:
def spy_game(nums):
    # create empty list to compare
    bond = []
    for i in range(0, len(nums)):
        if nums[i] == 0 or nums[i] == 7:
            # add 0 or 7 to new list if they appear in nums
            bond.append(nums[i])
    
    # test if the new list == 007
    return bond == [0,0,7]

In [156]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [157]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [158]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [112]:
def count_primes(num):
    count = 0
    for i in range(0,num):
        if is_prime(i):
            count += 1
    
    return count
    
def is_prime(num):
    if num == 0 or num == 1:
        return False
    elif num % 2 == 0 or num % 3 == 0 or num % 5 == 0:
        return False
    else:
        return True

In [113]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!