# **DICTIONARY** 
are used to store data values in key:value pairs 

A DISCTIONARY  is a collectiion which is ordered , changeable and allow dupplicates 

dictionaries are written with curly brackets  and have keys and value 

![**dict were previously unodered but after some version it is odered or indexed**](google/com
)

j

In [1]:
d={'name':'harshit','roll no':21
    
}

In [2]:
type(d)

dict

In [3]:
id(d)

2217248560832

In [4]:
len(d)

2

In [5]:
d['roll no']

21

In [6]:
d['age']=20

In [7]:
d

{'name': 'harshit', 'roll no': 21, 'age': 20}

In [38]:
d={}
for i in range(0,26):
    d[chr(ord('a')+i)]=i+1
s=str(input())
count=0
for i in range(0,3):
    if(s[i+1]-s[0])

SyntaxError: incomplete input (2452419986.py, line 7)

In [37]:
d

{'a': 1,
 'b': 2,
 'c': 3,
 'd': 4,
 'e': 5,
 'f': 6,
 'g': 7,
 'h': 8,
 'i': 9,
 'j': 10,
 'k': 11,
 'l': 12,
 'm': 13,
 'n': 14,
 'o': 15,
 'p': 16,
 'q': 17,
 'r': 18,
 's': 19,
 't': 20,
 'u': 21,
 'v': 22,
 'w': 23,
 'x': 24,
 'y': 25,
 'z': 26}

In [41]:
s='acz'

In [45]:
s[0]

'a'

In [21]:
d={"ba":2,"ab":3}

In [24]:
arr={}

In [29]:
arr={key:d[key] for key in sorted(d)}

In [70]:
record={'mohan':[30,40,60],"rohan":[60,70,80],"sohan":[60,90,40]}

In [111]:

print(record['mohan'][0])

30

In [118]:
score=0
x=str(input())
for i in range(0,3):
    score=score+(record[x][i]*(((i+1)*10)/100))
print(score)

29.0

In [121]:
x=str(input("num1--"))
y=str(input("num2--"))
pr=int(x)*int(y)
print(str(pr))

56088

In [162]:
((ord('3')-48)+((ord('2')-48)*10)+((ord('1')-48)*100))*((ord('6')-48)+((ord('5')-48)*10)+((ord('4')-48)*100))

56088

In [168]:
x=str(input("num1"))
sum=0
while(i>=0):
    ord(x%10)-48

TypeError: string indices must be integers, not 'str'

In [234]:
print(pow(2,8))

TypeError: 'float' object is not callable

In [206]:
num={'0':0,'1':1,'2':2,'3':3,'4':4,'5':5,'6':6,'7':7,'8':8,'9':9}
x=str(input("num1--"))
y=str(input("num2--"))
n1=0
n2=0
count1=len(x)-1
count2=len(y)-1
for i in x:
    n1=n1+(num[i]*(pow(10,count1)))
    count1=count1-1
for i in y:
    n2=n2+(num[i]*(pow(10,count2)))
    count2=count2-1
print(str(n1*n2))

56088

In [208]:
123*456

56088

In [228]:
def pon(x,y):
    p=1
    if(y>0):
        while(y>=1):
            p=p*x
            y=y-1
        return p
    else:
        while(y<0):
            p=p*x
            np=1/p
            y=y+1
        return np
pon(2,-8)

0.00390625

TypeError: 'float' object is not callable