def fun_name(arguments):

        -----
fun_call()

In [8]:
def fun(s):
    print("my name is ",s)
fun("ajay")

my name is  ajay

In [15]:
def fun(*s):
    print("my name is ",s[0])
fun('ajay','ram','tarun')

my name is  ajay

In [17]:
def fun(s,r,t):
    print("my name is ",s)
fun(r='ajay',s='ram',t='tarun')

my name is  ram

In [25]:
def fun(s="ram"):
    print("my name is ",s)
fun()
fun("shyam")

my name is  ram
my name is  shyam

In [52]:
def fun1(a,b):
    s=a+b
    return s
    
fun1(2345,3445)

5790

In [56]:
def tupsum(t1,t2):
    x=[]
    for i in range(0,len(t1)):
        sum=t1[i]+t2[i]
        x.append(sum)
    print(x)
    
        
tupsum((1,2,3),(4,5,6))

[5, 7, 9]

In [57]:
def fun1(a,b):
    s=a+b
    return s
    
z=map(fun1,(1,2,3,5),(4,5,6,5))
print(list(z))

[5, 7, 9, 10]

In [ ]:
def fun2(a):
    if(len(a)>=3):
        return a
    else:
        return False
x=('kanpur','xy','delhi')
z=filter(fun2,x)
print(list(z))

['kanpur', 'delhi']

In [113]:
def fun2(a):
    if(len(a)>=3):
        return False
    else:
        return True
x=('kanpur','xy','delhi')
z=filter(fun2,x)
print(list(z))

['xy']

In [114]:
def fun2(a):
    if(len(a)<=3):
        return False
    else:
        return True
x=('kanpur','xy','delhi')
z=filter(fun2,x)
print(list(z))

['kanpur', 'delhi']

In [115]:
z=lambda a,b,c:(a+b)/c
print(z(5,10,3))

5.0