# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [13]:
def lesser_of_two_evens(a,b):
    if (a+b)%2 == 0:
        return min([a,b])
    else:
        return max([a,b])

In [14]:
# Check
lesser_of_two_evens(2,4)

2

In [15]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [16]:
def animal_crackers(text):
    l = (text.lower()).split()
    return l[0][0]==l[1][0]

In [17]:
# Check
animal_crackers('Levelheaded Llama')

True

In [18]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [19]:
def makes_twenty(n1,n2):
    return n1+n2 == 20 or n1 == 20 or n2 == 20

In [20]:
# Check
makes_twenty(20,10)

True

In [21]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [28]:
def old_macdonald(name):
    return name[0].upper()+name[1:3].lower()+name[3].upper()+name[4:].lower()

In [29]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [32]:
def master_yoda(text):
    l = text.split()[::-1]
    return " ".join(l)

In [33]:
# Check
master_yoda('I am home')

'home am I'

In [34]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [36]:
def almost_there(n):
    if n > 110:
        return abs(n-200) <= 10
    else:
        return abs(n-100) <= 10

In [37]:
# Check
almost_there(104)

True

In [38]:
# Check
almost_there(150)

False

In [39]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [47]:
def has_33(nums):
    return "33" in "".join([str(num) for num in nums])

In [48]:
# Check
has_33([1, 3, 3])

True

In [49]:
# Check
has_33([1, 3, 1, 3])

False

In [50]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [51]:
def paper_doll(text):
    return "".join([char*3 for char in text])

In [52]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [53]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [54]:
def blackjack(a,b,c):
    tot = a+b+c
    if tot < 21:
        return tot
    else:
        if a==11 or b==11 or c==11:
            return tot-10
        else:
            return "BUST"

In [55]:
# Check
blackjack(5,6,7)

18

In [56]:
# Check
blackjack(9,9,9)

'BUST'

In [57]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [71]:
def summer_69(arr):
    tot = 0
    flag = True
    for num in arr:
        if num == 6:
            flag = False
        if num == 9:
            flag = True
            continue
        if flag:
            tot = tot+num
    return tot

In [72]:
# Check
summer_69([1, 3, 5])

9

In [73]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [74]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [79]:
def spy_game(nums):
    l = [str(num) for num in nums if num==0 or num==7]
    return '007' in "".join(l)

In [80]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [81]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [82]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [91]:
def count_primes(num):
    if num == 2:
        return 1
    elif num == 3:
        return 2
    else:
        count_prime = 2
        for p in range(4,num+1):
            flag_prime = True
            for n in range(2, p):
                if p%n == 0:
                    flag_prime = False
                    break
            if flag_prime:
                count_prime += 1
        return count_primes

In [92]:
# Check
count_primes(100)

<function count_primes at 0x1064f2048>

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!