___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Strings

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

## Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [87]:
# Single word
'hello'

'hello'

In [88]:
# Entire phrase 
'This is also a string'

'This is also a string'

In [89]:
# We can also use double quote
"String built with double quotes"

'String built with double quotes'

In [3]:
# Be careful with quotes!
v="I'm using single quotes, but this will create an error"

The reason for the error above is because the single quote in <code>I'm</code> stopped the string. You can use combinations of double and single quotes to get the complete statement.

In [4]:
"Now I'm ready to use the single quotes inside a string!"

"Now I'm ready to use the single quotes inside a string!"

Now let's learn about printing strings!

## Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [5]:
# We can simply declare a string
'Hello World'

'Hello World'

In [6]:
# Note that we can't output multiple strings this way
'Hello World 1'
'Hello World 2'

'Hello World 2'

We can use a print statement to print a string.

In [7]:
print('Hello World 1')
print('Hello World 2')
print('Use \n to print a new line')
print('\n')
print('See what I mean?')

Hello World 1
Hello World 2
Use
 to print a new line


See what I mean?

## String Basics

We can also use a function called len() to check the length of a string!

In [8]:
len('Hello World')

11

Python's built-in len() function counts all of the characters in the string, including spaces and punctuation.

## String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [2]:
# Assign s as a string
s = '''kolkata'''

In [3]:
#Check
type(s)

str

In [4]:
# Print the object
print(s)

kolkata

Let's start indexing!

In [34]:
# Show first element (in this case a letter)
s[0]='l'

TypeError: 'str' object does not support item assignment

In [6]:
s[1]

'o'

In [7]:
s[2]

'l'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [8]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'olkata'

In [9]:
# Note that there is no change to the original s
s

'kolkata'

In [10]:
# Grab everything UP TO the 3rd index
s[:3]

'kol'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [11]:
#Everything
s[:]

'kolkata'

We can also use negative indexing to go backwards.

In [12]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'a'

In [13]:
# Grab everything but the last letter
s[:-1]

'kolkat'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [14]:
# Grab everything, but go in steps size of 1
s[::1]

'kolkata'

In [15]:
# Grab everything, but go in step sizes of 2
s[::2]

'klaa'

In [16]:
# We can use this to print a string backwards
s[::-1]

'ataklok'

## String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [17]:
s

'kolkata'

In [18]:
# Let's try to change the first letter to 'x'
s[0]+"hello"

'khello'

Notice how the error tells us directly what we can't do, change the item assignment!

Something we *can* do is concatenate strings!

In [19]:

s

'kolkata'

In [20]:
# Concatenate strings!
s + ' concatenate me!'

'kolkata concatenate me!'

In [21]:
# We can reassign s completely though!
s = s + ' concatenate me!'

In [22]:
print(s)

kolkata concatenate me!

In [23]:
s

'kolkata concatenate me!'

We can use the multiplication symbol to create repetition!

In [24]:
letter = 'z'

In [25]:
letter*10

'zzzzzzzzzz'

In [26]:
s='kolkata'

In [27]:
m=[1,2,3,4,5,6]

In [28]:
m.append(8)

In [29]:
m

[1, 2, 3, 4, 5, 6, 8]

In [30]:
m.extend('k')

In [31]:
m

[1, 2, 3, 4, 5, 6, 8, 'k']

In [32]:
m.pop()

'k'

In [33]:
m.pop(8)

IndexError: pop index out of range

In [21]:
m.pop(
    
)

'h'

In [22]:
m

[1, 2, 3, 4, 5, 6, 8, 'h']

In [23]:
m.remove('h')

In [24]:
m

[1, 2, 3, 4, 5, 6, 8]

In [28]:
m=[4,3,63,56,34,324]

In [29]:
m.sort()

method---->m.sort()

In [30]:
m

[3, 4, 34, 56, 63, 324]

sorted(m) is function

In [31]:
sorted(m)

[3, 4, 34, 56, 63, 324]

In [32]:
m.sort(reverse =True)

In [33]:
m

[324, 63, 56, 34, 4, 3]

In [35]:
m.index(324)

0

In [37]:
m.append(3)

In [78]:
m.count(3)

2

In [101]:
m=['agra','lucknow','kanpur','delhi']

In [104]:
m1=[i for i in m if 'a' in i ]

In [114]:
m1

['agra', 'kanpur']

m=[2,3,4,5]

In [125]:
m=[1,23,4,5,6]

In [127]:
len(m)

5

s='s'+s[1:]

## Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [128]:
s

NameError: name 's' is not defined

In [35]:
s='p'

In [36]:
x='h'+'a'+s+s+'y'

In [37]:
x

'happy'

In [38]:
s='s'

In [39]:
x

'happy'

In [40]:
max(x)

'y'

In [41]:
sorted(x)

['a', 'h', 'p', 'p', 'y']

In [42]:
id(s)

140703288334712

capitalise first letter

In [43]:
x.capitalize()

'Happy'

In [44]:
x.count('s')

0

In [45]:
# Upper Case a string
s.upper()

'S'

In [46]:
# Lower case
s.lower()

's'

In [47]:
# Split a string by blank space (this is the default)
x.split()

['happy']

In [48]:
# Split by a specific element (doesn't include the element that was split on)
x.split('h')

['', 'appy']

There are many more methods than the ones covered here. Visit the Advanced String section to find out more!

## Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [49]:
'Insert another string with curly brackets: {}'.format('fuck you')

'Insert another string with curly brackets: fuck you'

We will revisit this string formatting topic in later sections when we are building our projects!

## Next up: Lists!