___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Set and Booleans

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

## Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [2]:
x = set()

In [3]:
ms=(1,2,'agra')

In [4]:
a=[1,3]

In [5]:
# We add to sets with the add() method
x.add(1)

In [6]:
#Show
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [7]:
# Add a different element
x.add(2)

In [8]:
#Show
x

{1, 2}

In [9]:
# Try to add the same element
x.add(1)

In [10]:
#Show
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [11]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [12]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [13]:
# Set object to be a boolean
a = True

In [14]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [15]:
# Output is boolean
1 > 2

False

We can use None as a placeholder for an object that we don't want to reassign yet:

In [16]:
# None placeholder
b = None

In [17]:
# Show
print(b)

None

Thats it! You should now have a basic understanding of Python objects and data structure types. Next, go ahead and do the assessment test!

In [18]:
ms={1,2,'agra'}

In [19]:
ms

{1, 2, 'agra'}

In [20]:
type(ms)

set

In [21]:
m=list(ms)

In [22]:
m

[1, 2, 'agra']

In [23]:
ms={'s','g',1,2,True,False,0,{2,3}}

TypeError: unhashable type: 'set'

In [17]:
ms={'s','g',1,2,True,False,0,[1,2]}

TypeError: unhashable type: 'list'

In [28]:
ms={'s','g',2,True,1,False,0,(1,2)}

here 0=false and 1 =true

In [29]:
ms

{(1, 2), 2, False, True, 'g', 's'}

In [30]:
ms.add('hello')

In [31]:
ms

{(1, 2), 2, False, True, 'g', 'hello', 's'}

In [32]:
ms.update("bro")

In [33]:
ms

{(1, 2), 2, False, True, 'b', 'g', 'hello', 'o', 'r', 's'}

In [34]:
m={1,2,3,4}

In [35]:
m.update([11,23])

In [36]:
m

{1, 2, 3, 4, 11, 23}

In [38]:
ms.update(m)

In [40]:
ms

{(1, 2), 11, 2, 23, 3, 4, False, True, 'b', 'g', 'hello', 'o', 'r', 's'}

In [57]:
ms.clear()

In [58]:
ms

set()

In [25]:
ms={(1, 2), 11, 2, 23, 3, 4, False, True, 'b', 'g', 'hello', 'o', 'r', 's'}

In [26]:
ms.remove('s')

In [27]:
ms

{(1, 2), 11, 2, 23, 3, 4, False, True, 'b', 'g', 'hello', 'o', 'r'}

In [28]:
ms.discard('g')

In [29]:
ms

{(1, 2), 11, 2, 23, 3, 4, False, True, 'b', 'hello', 'o', 'r'}

In [30]:
m="i like python"

In [31]:
x=len(str(m))

In [32]:
x

13

In [33]:
for i in m:
    print(i)

i

l
i
k
e

p
y
t
h
o
n

In [34]:
list(m).remove(' ')

In [35]:
m

'i like python'

In [36]:
x=list(m)

In [37]:
x

['i', ' ', 'l', 'i', 'k', 'e', ' ', 'p', 'y', 't', 'h', 'o', 'n']

In [38]:
x.remove(' ')

In [39]:
msg1="I like Python"
msg2="Java is a very popular language"
m=[]
for x in msg1:
        if x in msg2:
            m.append(x)

In [40]:
m

[' ', 'l', 'i', 'e', ' ', 'y', 'o', 'n']

In [41]:
z=str(m)

In [42]:
for x in m:
    if(x==" "):
        continue
    else:
        print(x)

l
i
e
y
o
n

In [43]:
#lex_auth_012693825794351104168

def find_common_characters(msg1,msg2):
    m=[]
    for x in msg1:
        if x in msg2:
            if(x==" "):
                continue
            else:
                m.append(x)
    


#Provide different values for msg1,msg2 and test your program
msg1="I like Python"
msg2="Java is a very popular language"
common_characters=find_common_characters(msg1,msg2)
print(common_characters)

None

In [44]:
a=[1,3]

In [45]:
b=a

In [46]:
b

[1, 3]

In [47]:
a[0]=4

In [49]:
a=[1,3]
b=a
a[0]=4

In [50]:
b

[4, 3]