___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: Numbers are data type in python. It consists of both int and float type

Strings: Strings are collection of character represented by single or double quotes

Lists: Lists are most general version of sequence in python, mutable meaning elements can be changed represented by []

Tuples: tuples are immutable data type in Python represented by ()

Dictionaries: Dictonaries are unordered data types represented  by key, value pair,

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [ ]:
5**2 * 8 /2 -10 + 10.

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5) = 44
    
    What is the value of the expression 4 * 6 + 5 = 29
    
    What is the value of the expression 4 + 6 * 5 = 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br> Floating point

What would you use to find a numberâ€™s square root, as well as its square?

In [1]:
# Square root:sqrt()

In [2]:
# Square: (value)**(2)

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [3]:
s = 'hello'
# Print out 'e' using indexing
s[1]

'e'

Reverse the string 'hello' using slicing:

In [6]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [7]:
s ='hello'
# Print out the 'o'

# Method 1:
s[-1]

'o'

In [8]:
# Method 2:
s[4]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [10]:
# Method 1:
list1 = [0, 0 , 0]

In [18]:
# Method 2:
list2 = [0]
list2.append(0)
list2.append(0)

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [16]:
list3 = [1,2,[3,4,'hello']]

list3[2][2] = 'goodbye'

'goodbye'

Sort the list below:

In [27]:
list4 = [5,3,4,6,1]
list4 = list4.sort()

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [28]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [29]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [30]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
list1 = list(d['k1'])
d1 = list1[0]
d1['nest_key'][1]

['hello']

In [32]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
l1 = d['k1']
l1[2]
d1 = {}
d1 = l1[2]
d1
l2 = (d1['k2'])
d2 ={}
d2 = l2[1]
l3 = d2['tough']
l3[2]

['hello']

Can you sort a dictionary? Why or why not?<br><br>
Dictionary is unordered data type. Hence cant use sort method

## Tuples

What is the major difference between tuples and lists?<br><br>

Tuples are immutable but lists are mutable

How do you create a tuple?<br><br>
Tuples are created by () with elements seperated by commas

## Sets

What is unique about a set?<br><br>

Sets are unordered collection of unique elements

Use a set to find the unique values of the list below:

In [33]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5)

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [34]:
# Answer before running cell : False
2 > 3

False

In [35]:
# Answer before running cell : False
3 <= 2

False

In [36]:
# Answer before running cell : False
3 == 2.0

False

In [37]:
# Answer before running cell: True
3.0 == 3

True

In [39]:
# Answer before running cell : False
4**0.5 != 2

False

Final Question: What is the boolean output of the cell block below?

In [41]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False? False
l_one[2][0] >= l_two[2]['k1']

False

## Great Job on your first assessment!