___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>
# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write (or just say out loud to yourself) a brief description of all the following Object Types and Data Structures we've learned about. You can edit the cell below by double clicking on it. Really this is just to test if you know the difference between these, so feel free to just think about it, since your answers are self-graded.

Double Click HERE to edit this markdown cell and write answers.

Numbers: integers, floats

Strings: a-z0-9 denoted by single or double quote. Immutable

Lists: mutable collection of objects. constructed with brackets []

Tuples: lists except immutable. good for data integrity. 

Dictionaries: signified by {} key:value pairs (with nesting). Unordered. Ordered dictionary available.

## Numbers

Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [1]:
100 + 0.25

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [6]:
4 * (6 + 5) # 44
4 * 6 + 5 # 29
4 + 6 * 5 # 34

34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br><br>
Float

What would you use to find a numberâ€™s square root, as well as its square?

In [17]:
# Square root:
import math
math.sqrt(4)
# OR
4**0.5

2.0

In [13]:
# Square:
2**3

8

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [19]:
s = 'hello'
# Print out 'e' using indexing
print(s[1:2])
# OR 
print(s[1])

e
e

Reverse the string 'hello' using slicing:

In [15]:
s ='hello'
# Reverse the string using slicing
s[::-1]

'olleh'

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [22]:
s ='hello'
# Print out the 'o'

# Method 1:
s[4]

'o'

In [23]:
# Method 2:
s[-1]

'o'

## Lists

Build this list [0,0,0] two separate ways.

In [31]:
# Method 1:
mylist = [0]*3
mylist

[0, 0, 0]

In [32]:
# Method 2:
mylist = None
mylist = [0,0,0]
mylist

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [35]:
list3 = [1,2,[3,4,'hello']]

list3[2][2]= 'goodbye'
list3

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [44]:
list4 = [5,3,4,6,1]
print(sorted(list4)) #doesnt sort in place
print(list4)
list4.sort() # sorts in place
#list4
print(list4)

[1, 3, 4, 5, 6]
[5, 3, 4, 6, 1]
[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [49]:
d = {'simple_key':'hello'}
# Grab 'hello'
d['simple_key']

'hello'

In [51]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
d['k1']['k2']

'hello'

In [63]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
d['k1'][0]['nest_key'][1][0]

'hello'

In [64]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

Can you sort a dictionary? Why or why not?<br><br>

No, normal dictionaries are mappings. Unless you use ordereddict object.

## Tuples

What is the major difference between tuples and lists?<br><br>

tuples are immutable.

How do you create a tuple?<br><br>

Using parenthesis. 
t = (1,2,3)

## Sets

What is unique about a set?<br><br>

Contain only unique values.

Use a set to find the unique values of the list below:

In [66]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

set(list5) #prints

{1, 2, 3, 4, 11, 22, 33}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [68]:
# Answer before running cell
2 > 3
False

False

In [69]:
# Answer before running cell
3 <= 2
False

False

In [70]:
# Answer before running cell
3 == 2.0
False

False

In [72]:
# Answer before running cell
3.0 == 3
True

True

In [73]:
# Answer before running cell
4**0.5 != 2
False

False

Final Question: What is the boolean output of the cell block below?

In [74]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']
False

False

## Great Job on your first assessment!