___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [84]:
def lesser_of_two_evens(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [85]:
# Check
lesser_of_two_evens(2,4)

2

In [86]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [92]:
def animal_crackers(str1):
    words = str1.lower().split()
    return words[0][0] == words[1][0]

In [95]:
# Check
animal_crackers('Levelheaded llama')

True

In [96]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [97]:
def makes_twenty(n1,n2):
    return (n1 + n2 == 20) or (n1 == 20) or (n2 == 20)

In [98]:
# Check
makes_twenty(20,10)

True

In [99]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [18]:
def old_macdonald(name):
    new_name = ""
    count = 0
    for char in name:
        if count == 0 or count == 3:
            char = char.upper()
        new_name += char
        count +=1
    return new_name

In [19]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [105]:
def master_yoda(text):
    text_array = text.split()
    text_array.reverse()
    return " ".join(text_array)

In [106]:
# Check
master_yoda('I am home')

'home am I'

In [107]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [42]:
def almost_there(n):
    if ((n > 90) and (n < 110) or (n > 190) and (n < 210)):
        return True
    else:
        return False

In [43]:
# Check
almost_there(104)

True

In [44]:
# Check
almost_there(150)

False

In [45]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [110]:
def has_33(nums):

    for i in range(0,len(nums) - 1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
        
    return False

In [111]:
# Check
has_33([1, 3, 3])

True

In [112]:
# Check
has_33([1, 3, 1, 3])

False

In [113]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [46]:
def paper_doll(text):
    doll = ""
    for char in text:
        doll += char * 3
    
    return doll

In [47]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [48]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [53]:
def blackjack(a,b,c):
    total = a + b + c
    if total <= 21:
        return total
    if 11 in [a,b,c]:
        total -= 10
    if total <= 21:
        return total
    else:
        return "BUST"

In [54]:
# Check
blackjack(5,6,7)

18

In [55]:
# Check
blackjack(9,9,9)

'BUST'

In [56]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [114]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    
    return total

In [115]:
# Check
summer_69([1, 3, 5])

9

In [116]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [117]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [150]:
def spy_game(nums):

    code = [0,0,7]
    
    for num in nums:
        if num == code[0]:
            code.pop(0)
            
    return len(code) == 0

In [158]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [159]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [160]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [161]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [82]:
def is_prime(num):
    if num <= 1:
        return False
    
    count = 2
    
    prime = True
    
    while count <= int(num ** 0.5):
        if num % count == 0:
            prime = False
            break
        else:
            count +=1
            
    return prime

def count_primes(num):
    i = 2
    
    count = 0
    
    if num <= 1:
        return 0
    
    while i <= num:
        if is_prime(i):
            count += 1
        i += 1
    
    return count

In [83]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!