# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [92]:
def lesser_of_two_evens(a,b):
    return min(a,b) if a%2==0 and b%2==0 else max(a,b)

In [93]:
# Check
lesser_of_two_evens(2,4)

2

In [94]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [101]:
def animal_crackers(text):
    if len(text.split()) == 2:
        return text.split()[0].lower()[0] == text.split()[1].lower()[0]

In [102]:
# Check
animal_crackers('Levelheaded Llama')

True

In [103]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [112]:
def makes_twenty(n1,n2):
    return n1 == 20 or n2 == 20 or n1 + n2 == 20

In [113]:
# Check
makes_twenty(20,10)

True

In [114]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [115]:
def old_macdonald(name):
    # return name[0].upper() + name[1:3] + name[3].upper() + name[4:]
    return name[:3].capitalize() + name[3:].capitalize()

In [33]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [29]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [30]:
# Check
master_yoda('I am home')

'home am I'

In [31]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [104]:
def almost_there(n):
    return abs(100 - n) <= 10 or abs(200 - n) <= 10

In [105]:
# Check
almost_there(104)

True

In [106]:
# Check
almost_there(150)

False

In [107]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [41]:
def has_33(nums):
    temp_num = 0 
    for num in nums:
        if temp_num == 3 and num == 3:
            return True
        temp_num = num
    return False

In [42]:
# Check
has_33([1, 3, 3])

True

In [43]:
# Check
has_33([1, 3, 1, 3])

False

In [44]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [46]:
def paper_doll(text):
    paper_doll_string = ''
    for char in text:
        paper_doll_string += char * 3
    return paper_doll_string

In [47]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [48]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [49]:
def blackjack(a,b,c):
    if a + b + c >= 3 and a + b + c <= 33:
        if a + b + c <= 21:
            return a + b + c
        elif 11 in [a,b,c] and a + b + c > 21:
            return a + b + c - 10
        else:
            return 'BUST'

In [50]:
# Check
blackjack(5,6,7)

18

In [51]:
# Check
blackjack(9,9,9)

'BUST'

In [52]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [53]:
def summer_69(arr):
    sum69 = 0
    add = True
    if len(arr) == 0:
        return 0
    else:
        for num in arr:
            if num == 6:
                add = False
            elif num == 9:
                add = True
            elif add:
                sum69 += num
        return sum69

In [54]:
# Check
summer_69([1, 3, 5])

9

In [55]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [56]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [108]:
def spy_game(nums):
    spy_number = ''
    for num in nums:
        if num == 0 or num == 7:
            spy_number += str(num)
    return '007' in spy_number

In [109]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [110]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [118]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [74]:
def count_primes(num):
    count = 0
    #go through each number
    for potential_prime in range(2, num+1):
        #for each number, check divisibility of number to see if there is a remainder
        #if so, return false
        #if true, add to count
        is_prime = True
        for number in range(2, potential_prime):
            if potential_prime % number == 0:
                 is_prime = False
        if is_prime:
            count += 1
    return count

In [122]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [90]:
def print_big(letter):
    alphabet_letters = {
        'a': '  *  \n * * \n*****\n*   *\n*   *\n'
    }
    print(alphabet_letters[letter])

In [91]:
print_big('a')

  *
 * *
*****
*   *
*   *

## Great Job!