___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    if (a+b) % 2 == 0:
        if a<b:
            return a
        else:
            return b
    elif a<b:
        return b
    elif a>b:
        return a

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [20]:
def animal_crackers(text):
    split_text = text.split()
    first_word = split_text[0]
    second_word = split_text[1]
    
    if first_word[:1:] == second_word[:1:]:
        return True
    else:
        return False

In [21]:
# Check
animal_crackers('Levelheaded Llama')

True

In [22]:
# Check
animal_crackers('Crazy Kangaroo')

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [23]:
def makes_twenty(n1,n2):
    if n1 == 20 or n2 == 20:
        return True
    elif n1+n2 == 20:
        return True
    else:
        return False

In [26]:
# Check
makes_twenty(12,8)

True

In [27]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [36]:
def old_macdonald(name):
    first_section = name[:3:]
    second_section = name[3::]
    
    return (first_section.capitalize() + second_section.capitalize())

In [37]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [52]:
def master_yoda(text):
    yoda_text = text.split()
    yoda_text.reverse()
    return (" ".join(yoda_text))

In [53]:
# Check
master_yoda('I am home')

'home am I'

In [54]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [119]:
def almost_there(n):
    for x in range(11):
        if (n-100) == x:
            return True
        elif (n-200) == x:
            return True
        else:
            if x == 10:
                return False
            else:
                pass

In [120]:
# Check
almost_there(104)

True

In [121]:
# Check
almost_there(150)

False

In [128]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [4]:
def has_33(nums):
    last_num_was_three = False
    for x in nums:
        if x == 3:
            if last_num_was_three == True:
                return True
            else:
                last_num_was_three = True
        else:
            last_num_was_three = False
    
    return False

In [6]:
# Check
has_33([1, 3, 3])

True

In [7]:
# Check
has_33([1, 3, 1, 3])

False

In [10]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [17]:
def paper_doll(text):
    new_list = []
    for x in text:
        new_list.append(x*3)
    return ''.join(new_list)

In [18]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [19]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [50]:
def blackjack(a,b,c):
    total = a+b+c
    if total > 21:
        for x in (a,b,c):
            if x == 11:
                total = total - 10
    
    if total <= 21:
        return total
    else:
        return 'BUST'

In [51]:
# Check
blackjack(5,6,7)

18

In [52]:
# Check
blackjack(9,9,9)

'BUST'

In [53]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [113]:
def summer_69(arr):
    
    index = 0
    six_mode = False
    new_arr = []
    add_arr = 0
    
    for x in arr:
        if x != 9 and six_mode == True:
            index += 1
        elif x == 9 and six_mode == True:
            six_mode = False
            index += 1
        elif x == 6:
            six_mode = True
            index += 1
        else:
            new_arr.append(x)
            index += 1
    
    for x in new_arr:
        add_arr = x + add_arr
        
    return add_arr

In [114]:
# Check
summer_69([1, 3, 5])

9

In [115]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [116]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [125]:
def spy_game(nums):
    one_zero = False
    two_zeros = False
    
    for x in nums:
        if x == 7 and two_zeros == True:
            return True
        elif x == 0 and one_zero == True:
            two_zeros = True
        elif x == 0 and one_zero == False:
            one_zero = True
        else:
            pass
    return False

In [126]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [127]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [128]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [ ]:
def count_primes(num):
    pass

In [ ]:
# Check
count_primes(100)

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!