___

<a href='https://www.udemy.com/user/joseportilla/'><img src='../Pierian_Data_Logo.png'/></a>
___
<center><em>Content Copyright by Pierian Data</em></center>

# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [3]:
def lesser_of_two_evens(a,b):
    
     if a % 2 ==0 and b % 2 == 0:
            return min(a,b)
    
     else:
        return max(a,b)

In [4]:
# Check
lesser_of_two_evens(2,4)

2

In [5]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [ ]:
def animal_crackers(text):
    pass

In [ ]:
# Check
animal_crackers('Levelheaded Llama')

In [ ]:
# Check
animal_crackers('Crazy Kangaroo')

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [8]:
def makes_twenty(n1,n2):
    if (n1 == 20 or n2 == 20) or (n1 + n2 == 20):
    
        return True
    else:
        
        return False

In [9]:
# Check
makes_twenty(20,10)

True

In [10]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [11]:
def old_macdonald(name):

    name_cleaned = ''
    
    for index,value in enumerate(name):

        if index == 0 or index == 3:
            name_cleaned += value.upper()
        else:
            name_cleaned += value

    return name_cleaned

In [12]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [15]:
def master_yoda(text):
    
    text_list = text.split()

    return ' '.join(text_list[::-1])

In [16]:
# Check
master_yoda('I am home')

'home am I'

In [17]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [22]:
def almost_there(n):
    
    if abs(100 - n) <= 10 or abs( 200 - n) <= 10:
        return True
    else:
        return False

In [23]:
# Check
almost_there(104)

True

In [24]:
# Check
almost_there(150)

False

In [25]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [37]:
def has_33(list_example):

    #Placeholders
    previous_value = 0
    found = False

    
    for x in list_example:

        if x == 3 and previous_value == 3:
            return True
        else:
            previous_value = x 
        
    return False

In [38]:
# Check
has_33([1, 3, 3])

True

In [39]:
# Check
has_33([1, 3, 1, 3])

False

In [40]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [45]:
def paper_doll(text):
    
    output = []

    for char in text:

        output += [char]*3

    return ' '.join(output)

In [46]:
# Check
paper_doll('Hello')

'H H H e e e l l l l l l o o o'

In [47]:
# Check
paper_doll('Mississippi')

'M M M i i i s s s s s s i i i s s s s s s i i i p p p p p p i i i'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [126]:
def blackjack(a,b,c):
    
    if (a + b + c) <= 21:
        return (a + b + c)
    elif (a + b + c) > 21 and 11 in [a,b,c]:
        return (a + b + c) - 10
    else:
        return 'BUST'

In [127]:
# Check
blackjack(5,6,7)

18

In [128]:
# Check
blackjack(9,9,9)

'BUST'

In [129]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [92]:
def summer_69(arr):
  # Variables
  cleaned_list_1 = []
  cleaned_list_2 = []
  six_pos = None
  nine_pos = None

  for num in arr:
      if num == 6:
            six_pos = arr.index(6)

      if num == 9:
            nine_pos = arr.index(9)

      
  if type(six_pos) == int:
      cleaned_list_1 = arr[:six_pos]
      cleaned_list_2 = arr[nine_pos + 1:]
      
      cleaned_list = cleaned_list_1 + cleaned_list_2
      return sum(cleaned_list)
  else:
      cleaned_list = arr
      return sum(cleaned_list)

In [93]:
# Check
summer_69([1, 3, 5])

9

In [94]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [95]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [107]:
def spy_game(nums):
 
    for n in nums:
        if n == 0:
            zero_pos = nums.index(n)

            if nums[zero_pos+1] == 0 and nums[zero_pos+2] == 7:
                return True
    
    
    return False

In [108]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [109]:
# Check
spy_game([1,0,2,4,0,5,7])

False

In [110]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [124]:
def count_primes(num):
    
    #variables
    counter = 0
    num_list = list(range(2,num+1))

    for n in num_list:

        if n % 2 != 0 and n % 3 != 0 and n % 4 != 0 and n % 5 != 0 and n % 6 != 0:
            counter += 1
    
    return counter

In [125]:
# Check
count_primes(100)

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!